body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #1abc9c;
    color: white;
    padding: 30px;
    text-align: center;
}

.courses {
    padding: 30px;
}

.course-card {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
}

progress {
    width: 100%;
    height: 20px;
}

.video {
    padding: 30px;
    text-align: center;
}